body{
    margin: 0;
    width: 100vw;
    background-color: rgb(31, 28, 28);
}
nav{
    width: 100vw;
    position: fixed;
    display: flex;
    top: 0;
    background-color: orange;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
}
.navElement{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color:black;
}
.navElement:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

footer{
    width: 100vw;
    background-color: orange;
    text-align: center;
    font-size: larger;
    padding: 10px 0px;
}

@media only screen and (max-width:375px){
    .navElement{
        font-size: 18px;
    }
}

@media only screen and (max-width:375px){
    .navElement{
        font-size: 16px;
    }
}