.galery {
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 800px;
}
.botones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.imgGalery {
    width: max-content;
    height: 600px;
}

.btnGalery{
    padding: 6px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color:black;
    color: white;
}
.btnGalery:hover{
    background-color: orange;
    color: black;
    cursor: pointer;  
    scale: 1.06;
}

@media only screen and (max-width: 414px) {
    .galery{
        height: 500px;
    }
    .imgGalery{
        height: 300px;
        width: 300px;
    }
    .btnGalery{ 
        border: 2px solid rgb(255, 153, 0);
        background-color:  rgba(0, 0, 0, 0.712);
        color: white;
    }
}