.galery {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.botones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.imgGalery {
    width: max-content;
    height: 600px;
}

.btnGalery{
    padding: 6px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color:black;
    color: white;
}
.btnGalery:hover{
    background-color: orange;
    color: black;
    cursor: pointer;  
    scale: 1.06;
}


@media only screen and (max-width: 768px){
    .imgGalery{
        height: 500px;
    }
    .galery{
        height: 800px;
    }
}

@media only screen and (max-width:650px) {
    .imgGalery{
        height: 400px;
    }
}

@media only screen and (max-width:550px) {
    .imgGalery{
        height: 300px;
    }
    .galery{
        height: 700px;
    }
}

@media only screen and (max-width:375px){
    .imgGalery{
        height: 250px;
    }
    .btnGalery{
        font-size: 12px;
    }
}

@media only screen and (max-width:375px){
    .btnGalery{
        font-size: 11px;
        padding: 4px;
    }
}