.allProducts{
    margin: 70px 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}
.añadido{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    position: fixed;
    top: 15%;
    left: -50%;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(71, 146, 71);
    background-color: rgb(71, 146, 71);
    border-radius: 3px;
    padding: 10px;
}
.añadido h3, .añadido h4{
    color: rgb(37, 35, 35);
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.animar{
    animation: mover 2s ease-in-out 0.1ms;
}
@keyframes mover {
    0% {transform: translateX(0%);}
    50%{transform: translateX(295%);}
    75%{transform: translateX(295%);}
    100% {transform: translateX(0%);}
}
.producto{
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    border-radius: 10px;
    margin: 15px;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.imgProduct{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
h3{
    color: orange;
    font-weight: bolder;
}
p{
    color: white;
}
a{
    color: orange;
}
.contentOneLine{
    padding: 30px;
}
.contentTwoLines{
    padding: 20px;
}
.contentThreeLines{
    padding: 15px;
}
.botonAñadir{
    padding: 10px;
    margin-bottom: 10px;
    background-color: black ;
    border-radius: 5px;
    border-color: orange ;
    color: white;
}
.botonAñadir:hover{
    background-color: orange;
    cursor: pointer;
    scale: 1.1;
}